# http://www.gnu.org/software/autoconf
/config.log
/config.h
/config.status
/stamp-h1

# http://www.gnu.org/software/automake
.deps/
.libs/

# Generated Makefile
Makefile

/bin/
/libtool
/src/.depend

/doc/stoical.1
/doc/words
/vim/syntax
stoical

# Build artifacts
*.o
*.a
*.lo
*.la
